body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
	margin-bottom: 50px;
}

h1, h2, h4 {
	text-align: center;
}

h2 {
	margin-top: 50px;
}

.bg-color {
	background-color: #E7E3E0;
}

.bg-white {
	background-color: #FFF;
}

.navigation {
	font-size: 14px;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}

.navigation ul {
	margin: 0;
	overflow: hidden;
}

.navigation li {
	float: left;
	list-style: none;
	margin: 15px 20px;
}

.navigation li:first-child {
	font-size: 20px;
	margin: 10px 50px 10px 20px;
}

.navigation li a {
	color: #000;
}

.navigation li a:hover {
	text-decoration: none;
}

#home {
	background: #FFF url("https://c2.staticflickr.com/2/1523/25200667232_9b202df946_o.jpg") 0/cover no-repeat;
	height: 750px;
}

.container-fluid {
	min-height: 500px;
	padding: 50px 0;
}

.row {
	margin: 0 50px;
}

/* OUR STORY */

#story h2 {
	text-transform: uppercase;
}

#story p {
	text-align: center;
}

#story .border {
	border-top: 1px dashed #000;
	margin-top: 50px;
	padding-top: 50px;
}

#story .border p {
	font-size: 24px;
}

#story img {
	padding-top: 50px;
}

/* WEDDING PARTY */

#party img {
	margin: 10px 0;
	width: 100%;
}

#party button {
	display: none;
	height: 167px;
	width: 167px;
}

.bio {
    left: 50%;
    height: 250px;
    margin-left: -375px;
    margin-top: -125px;
    padding: 25px 100px;
    position: fixed;
    width: 750px;
    top: 50%;
    z-index: 1;
}

#party .col-md-2,
#party .row {
	position: static;
}

#party .close {
	width: auto;
}

#party .lg-margin {
	margin: 0 150px;
}

/* DAY OF */

#day a {
	text-decoration: none;
}

.venue {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px 0;
	text-align: center;
}

.venue img {
	width: 450px;
	margin-bottom: 15px;
}

.hotel .col-md-4 {
    height: 300px;
    text-align: center;
}

.hotel .col-md-4:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.hotel img {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

/* PHOTOS */


.more-photos {
	text-align: center;
}

.more-photos img {
	width: 90px;
}

/* GIFT REGISTRY */

#gift img,
#story .border img {
    display: block;
	margin: 0 auto;
    width: 500px;
}