@font-face { font-family: Madina Script; src: url('Madina-Script.otf'); } 

body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Madina Script', cursive;
	font-size: 90px;
	margin-bottom: 50px;
}

h1, h2, h3, h4 {
	text-align: center;
}

h2 {
	margin-top: 50px;
}

.home-logo {
	width: 55px;
}

.short-margin {
	margin-left: 10px;
}


.bg-color {
	background-color: #E7E3E0;
}

.bg-white {
	background-color: #FFF;
}

.navigation {
	font-size: 15px;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 5;
}

.navigation ul {
	margin: 0;
	overflow: hidden;
}

.navigation li {
	float: left;
	list-style: none;
	margin: 26px;
}

.navigation li:first-child {
	font-size: 20px;
	margin: 10px 50px 10px 20px;
}

.navigation li a {
	color: #000;
}

.navigation li a:hover {
	text-decoration: none;
}

#home {
	background: #FFF url("https://c2.staticflickr.com/2/1523/25200667232_9b202df946_o.jpg") 0/cover no-repeat;
	height: 800px;
}

.container-fluid {
	min-height: 500px;
	padding: 50px 0;
}

.row {
	margin: 0 50px;
}

/* OUR STORY */

#story h2 {
	font-size: 27px;
	text-transform: uppercase;
}

#story h4 {
	color: #A9A1A0;
	font-family: 'Dancing Script', cursive;
	font-size: 22px;
}

#story p {
	text-align: center;
}

#story .border {
	border-top: 1px dashed #000;
	margin-top: 50px;
	padding-top: 50px;
}

#story .join-us p {
	font-size: 22px;
}

#story img {
	padding-top: 50px;
}

/* RSVP */

#rsvp input {
    height: 35px;
    width: 250px;
}

#rsvp label {
	font-size: 17px;
    font-weight: normal;
	margin-right: 10px;
}

#rsvp form {
	overflow: hidden;
}

#rsvp button {
    background-color: rgba(202, 168, 135, 0.6);
    color: white;
	font-size: 15px;
    font-weight: 700;
	margin-top: 70px;
	padding: 5px 40px;
    text-transform: uppercase;
}

.rsvp-form {
	margin-top: 50px;
}

.ss-form-question {
	margin-bottom: 10px;
	text-align: right;
}

/* WEDDING PARTY */

#party img {
	margin: 10px 0;
	width: 100%;
}

#party .lg-margin {
	margin: 0 150px;
}

.modal-dialog {
	margin-top: 100px;
	width: 900px;
}

#myModal h3 {
	float: left;
	font-family: 'Madina Script', cursive;
	font-size: 56px;
	text-align: initial;
}

#myModal p {
	float: left;
	font-size: 18px;
	width: 500px;
}

.bio {
	overflow: hidden;
	padding: 15px;
}

.bio img {
	float: left;
	margin-right: 20px;
	width: 285px;
}

/* DAY OF */

#day,
#lodging {
	text-align: center;
}

#day a {
	text-decoration: none;
}

#day h1 {
	margin-bottom: 90px;
}

.venue {
	margin-top: 20px;
}

.venue p {
	font-size: 16px;
	text-transform: uppercase;
}

.sandrock {
	width: 300px;
}

.map {
	width: 600px;
}

.hotel .col-md-12 {
	padding: 20px 0;
}

.hotel .col-md-2 {
    height: 150px;
}

.hotel .col-md-2.lodge:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.hotel img {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
}

.hotel h3 {
	font-family: "Madina script", cursive;
	font-size: 50px;
	padding-top: 30px;
}

/* PHOTOS */

.more-photos {
	margin-top: 30px;
	text-align: center;
}

.more-photos img {
	width: 90px;
}

/* GIFT REGISTRY */

#gift img,
#story img {
    display: block;
	margin: 0 auto;
    width: 500px;
}

#gift .logo img {
	margin-top: 300px;
	width: 270px;
}

/* FOOTER */

#footer p {
	text-align: center;
	text-transform: uppercase;
}
